/**
 * @name Anime sky
 * @author DeNarmor
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/53119-anime-sky-anime-nebo.html
 * @authorLink https://vsthemes.org/user/DeNarmor/
 * @authorId 125301
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.35;
    --guildchanneltransparency: 0.1;
    --memberlistransparency: 0.1;
    --accentcolor: 166,27,127;
    --background: url("https://vsthemes.org/uploads/posts/2022-09/1662212924_1588590691_5-p-fioletovie-anime-foni-14.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}